.Home{
    display: flex;
    align-items: center;
}
.contentArea{
    width: 50%;
    margin-left: 100px;
    margin-right: 80px;
}
.homeTitle{
    font-size: 3rem;
    font-weight: 800;
    color: #00cc99;
}
.homeContent{
    margin-top: 15px;
    color: #292929;
    text-align: justify;
}
.homeBtn{
    background-color: #00cc99;
    margin-top: 15px;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    color: #f9f9f9;
    font-weight: 500;
}
.homeBtn:hover{
    background-color: #35bbf8;
}
.Ilustration{
    margin-top: 80px;
    width: 50%;
    margin-left: 30px;
}